# Python
__pycache__
.ipynb_checkpoints

# Assignment 1 generated
assignment1/code/.ipynb_checkpoints

# Assignment 2 generated
assignment2/code/utils/__pycache__
assignment2/code/__pycache__
assignment2/code/.DS_Store
assignment2/code/.ipynb_checkpoints
assignment2/code/assignment2.zip
assignment2/code/utils/datasets
assignment2/code/saved_params*
assignment2/code/saved_state*
assignment2/code/word_vectors.png

# Assignment 3 generated
assignment3/code/results
assignment3/code/assignment3.zip

# Assignment 4 generated
# Assignment 4 generated
assignment4/code/src.model
assignment4/code/src.vocab
assignment4/code/tgt.model
assignment4/code/tgt.vocab
assignment4/code/vocab.json
assignment4/code/model.bin
assignment4/code/model.bin.optim
assignment4/code/runs
assignment4/code/outputs/test_outputs.txt
assignment4/code/assignment4.zip